@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*body{
    font-family: 'Roboto', sans-serif;
}


/*Contenedor Header*/
.header_page{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left_header{
    width: 12%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 20px;

}

.right_header{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

#instagram{
    letter-spacing: -1px;
}

/*Modal*/
.modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
}
.modal-body-icons{
    margin-top: 10px;
} 
.caption{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/*Fin modal*/

.filas{
    margin: 2px -14px -4px -14px;
}
.images{
    padding: 3px;
}